<header th:fragment="header">
  <div class="px-3 py-2 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <img src="../../img/logo.png" height="48px" />
        </a>
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
          <li>
            <a href="/" class="nav-link text-secondary">
              Inicio
            </a>
          </li>
          <li>
            <a href="/peliculas/listado" class="nav-link text-white">
              Películas
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>