<!-- Modal -->
<div class="modal fade" id="modalEliminacionPelicula" tabindex="-1" aria-labelledby="modalEliminacionPeliculaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEliminacionPeliculaLabel">Eliminar Película</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form th:action="@{/peliculas/eliminar}" method="POST">
        <div class="modal-body">
          <h3 id="mensajeEliminarPelicula"></h3>
        </div>
        <input type="hidden" id="idEliminarPelicula" value="" name="id" >
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
        </div>
      </form>
    </div>
  </div>
</div>